.mobilenavbar {
  position: fixed;
        background-color: #fff;
        background-image: url(/public/AssestImage/Navbarmobile/textureBg\ \(1\).jpg);
        left: -100%;
        top: 0px;
        height: 100vh;
        align-items: flex-start;
        width: 500px;
        justify-content: flex-start;
        flex-direction: column;
        left: -100%;
        transition: all .3s ease-in-out;
        z-index: 99;
       
}
.mobilenavbar.activenav{
  left: 0px;
}
.mobilenavbar.activenav{
  left: 0%;
}
.mobilenavbar .cross{
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}
.mobilenavbar ul {
  width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
  margin: 3rem 0px;
  

}

.mobilenavbar ul li .menuItem {
  position: relative;
  width: 100%;
 
  overflow: hidden;
}

.mobilenavbar ul li .menuItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mobilenavbar ul li .menuItem a {
  position: absolute;
  top: 30%;
  left: 17%;
  
  color:black; 
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  z-index: 7;
}
.mobilenavbar ul li a:hover{
  color: #bf8f00;
}

.mobilenavbar ul li .menuItem .active{
  color: #bf8f00;
}


@media only screen and (max-width: 540px) {
  .mobilenavbar {
    width: 400px;
         
       
        
         
  }
}

@media only screen and (max-width: 540px) {
  .mobilenavbar {
    width: 300px;
         
       
        
         
  }
  .mobilenavbar ul li .menuItem a {
  
    font-size: 1.4rem;
   
  }
}